.register {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  .container {
    width: 1440px;
    h1 {
      margin: 20px 0;
    }
    .wraper {
      form {
        display: flex;
        gap: 50px;
        .left {
          flex: 1;
          button {
            width: 100%;
            padding: 15px 20px;
            font-style: 16px;
            font-weight: 600;
            background-color: #1cbf73;
            border-radius: 5px;
            transition: 0.4s all ease;
            cursor: pointer;
            &:hover {
              background-color: darkgreen;
            }
          }
        }
        .right {
          flex: 1;
        }
      }

      input,
      textarea,
      select {
        width: 100%;
        background-color: #fff;
        border: 1px solid #555;
        padding: 10px;
        border-radius: 5px;
        margin: 15px 0;
        color: #555;
      }

      label {
        font-weight: 600;
        margin: 10px 0;
      }
    }
  }
}
