.gigs {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #74767e;
  margin-top: 50px;
  .container {
    width: 1440px;
    .breadcumbs {
      margin: 10px 0;
    }
    h1 {
      margin: 10px 0;
    }
    .explore {
      margin: 10px 0;
    }
    .option {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      .left {
        input {
          padding: 8px;
          background: #fff;
          color: #74767e;
          border: 1px solid #555;
          border-radius: 8px;
          margin: 0 5px;

          &[type="submit"] {
            color: #fff;
            background-color: #20eb7f !important;
            border: 0;
            border-radius: 8px;
            padding: 8px 20px;
          }
        }
      }
      .right {
        select {
          padding: 8px;
          border-radius: 8px;
          background-color: #fff;
          color: #555;
        }
      }
    }
    .gig-count {
      margin: 15px 0;
      span {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  .gig-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 30px;
  }
}
