.category-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 40px 0;
    .container{
        width: 1440px;
        h2{
            font-size: 50px;
            color: #000;
            margin: 20px 0 ;
        }
    }
}