.reviews {
  .create-review {
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      textarea {
        padding: 8px;
        background-color: #fff;
        color: #000;
        border: 1px solid;
      }
      select,
      input {
        width: 150px;
        padding: 8px;
      }
    }
  }
}
